# Exploring and Transforming JSON Schemas

# Introduction

In this lesson, you'll formalize how to explore a JSON file whose structure and schema is unknown to you. This often happens in practice when you are handed a file or stumble upon one with little documentation.

## Objectives
You will be able to:
* Explore unknown JSON schemas
* Access and manipulate data inside a JSON file
* Convert JSON to alternative data formats

## Loading the JSON file

Load the data from the file disease_data.json.

In [1]:
ls

CONTRIBUTING.md*    images/       index.ipynb*  README.md
disease_data.json*  index_files/  LICENSE.md*

In [2]:
#Your code here 
import json
import pandas as pd
f = open('disease_data.json')
data = json.load(f)

## Explore the first and second levels of the schema hierarchy

In [11]:
#Your code here

## Convert to a DataFrame

Create a DataFrame from the JSON file. Be sure to retrive the column names for the dataframe. (Search within the 'meta' key of the master dictionary.) The DataFrame should include all 42 columns.

In [30]:
#Your code here
df = pd.DataFrame(data['meta']['view']['columns'])
df

,cachedContents,dataTypeName,description,fieldName,flags,format,id,name,position,renderTypeName,subColumnTypes,tableColumnId,width
0,NaN,meta_data,NaN,:sid,[hidden],{},-1,sid,0,meta_data,NaN,NaN,NaN
1,NaN,meta_data,NaN,:id,[hidden],{},-1,id,0,meta_data,NaN,NaN,NaN
2,NaN,meta_data,NaN,:position,[hidden],{},-1,position,0,meta_data,NaN,NaN,NaN
3,NaN,meta_data,NaN,:created_at,[hidden],{},-1,created_at,0,meta_data,NaN,NaN,NaN
4,NaN,meta_data,NaN,:created_meta,[hidden],{},-1,created_meta,0,meta_data,NaN,NaN,NaN
5,NaN,meta_data,NaN,:updated_at,[hidden],{},-1,updated_at,0,meta_data,NaN,NaN,NaN
6,NaN,meta_data,NaN,:updated_meta,[hidden],{},-1,updated_meta,0,meta_data,NaN,NaN,NaN
7,NaN,meta_data,NaN,:meta,[hidden],{},-1,meta,0,meta_data,NaN,NaN,NaN
8,"{'largest': '2016', 'non_null': 519718, 'avera...",number,Starting Year\n,yearstart,NaN,"{'precisionStyle': 'standard', 'noCommas': 'tr...",360864928,YearStart,1,number,NaN,36246792.0,208.0
9,"{'largest': '2016', 'non_null': 519718, 'avera...",number,Ending Year\n,yearend,NaN,"{'precisionStyle': 'standard', 'noCommas': 'tr...",360864929,YearEnd,2,number,NaN,36246793.0,184.0
10,"{'largest': 'WY', 'non_null': 519718, 'null': ...",text,Location Abbreviation\n,locationabbr,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864930,LocationAbbr,3,text,NaN,36246794.0,244.0
11,"{'largest': 'Wyoming', 'non_null': 519718, 'nu...",text,Location Description\n,locationdesc,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864931,LocationDesc,4,text,NaN,36246795.0,244.0
12,"{'largest': 'YRBSS', 'non_null': 519718, 'null...",text,Data Source Abbreviation\n,datasource,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864932,DataSource,5,text,NaN,36246796.0,220.0
13,"{'largest': 'Tobacco', 'non_null': 519718, 'nu...",text,Topic\n,topic,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864933,Topic,6,text,NaN,36246797.0,160.0
14,{'largest': 'Work limitation due to arthritis ...,text,Question full-length text\n,question,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864934,Question,7,text,NaN,36246798.0,196.0
15,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,Response\n,response,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864935,Response,8,text,NaN,36246799.0,196.0
16,"{'largest': 'Years', 'non_null': 476046, 'null...",text,"The unit, such as $, %, years, etc.\n",datavalueunit,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864936,DataValueUnit,9,text,NaN,36246800.0,256.0
17,"{'largest': 'Yes/No', 'non_null': 519718, 'nul...",text,"The data type, such as prevalence or mean\n",datavaluetype,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864937,DataValueType,10,text,NaN,36246802.0,256.0
18,"{'largest': 'Yes', 'non_null': 374564, 'null':...",text,"Data Value, such as 14.7 or Category 1\n",datavalue,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864938,DataValue,11,text,NaN,36246803.0,208.0
19,"{'largest': '2600878', 'non_null': 350335, 'av...",number,"Equal to Data Value, but formatting is numeric\n",datavaluealt,NaN,"{'precisionStyle': 'standard', 'noCommas': 'fa...",360864939,DataValueAlt,12,number,NaN,36246804.0,244.0
20,"{'largest': 'â€ â€ â€ ', 'non_null': 227318, '...",text,Footnote Symbol\n,datavaluefootnotesymbol,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864940,DataValueFootnoteSymbol,13,text,NaN,36246805.0,376.0
21,{'largest': 'US Median based on the number of ...,text,Footnote Text\n,datavaluefootnote,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864941,DatavalueFootnote,14,text,NaN,36246806.0,304.0
22,"{'largest': '1330.66', 'non_null': 311062, 'av...",number,Low Confidence Limit\n,lowconfidencelimit,NaN,"{'precisionStyle': 'standard', 'noCommas': 'fa...",360864942,LowConfidenceLimit,15,number,NaN,36246807.0,316.0
23,"{'largest': '2088.00', 'non_null': 311062, 'av...",number,High Confidence Limit\n,highconfidencelimit,NaN,"{'precisionStyle': 'standard', 'noCommas': 'fa...",360864943,HighConfidenceLimit,16,number,NaN,36246808.0,328.0
24,"{'largest': 'Race/Ethnicity', 'non_null': 5197...",text,"The category of the stratification, such as Ge...",stratificationcategory1,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864944,StratificationCategory1,17,text,NaN,36246809.0,376.0
25,"{'largest': 'White, non-Hispanic', 'non_null':...",text,"The stratification within the category, such a...",stratification1,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864945,Stratification1,18,text,NaN,36246810.0,280.0
26,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratificationcategory2,NaN,{},360864946,StratificationCategory2,19,text,NaN,36246811.0,376.0
27,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratification2,NaN,{},360864947,Stratification2,20,text,NaN,36246812.0,280.0
28,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratificationcategory3,NaN,{},360864948,StratificationCategory3,21,text,NaN,36246813.0,376.0
29,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratification3,NaN,{},360864949,Stratification3,22,text,NaN,36246814.0,280.0
30,"{'largest': {'latitude': '34.52088095200048', ...",location,Location code to be used for Geocoding\n,geolocation,NaN,"{'view': 'address_coords', 'align': 'left'}",360864950,GeoLocation,23,location,"[human_address, latitude, longitude, machine_a...",36246815.0,232.0
31,"{'largest': ' ', 'non_null': 79176, 'null': 44...",text,Identifier for the Response\n,responseid,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864951,ResponseID,24,text,NaN,36246818.0,220.0
32,"{'largest': '78', 'non_null': 519718, 'null': ...",text,Location Identifier\n,locationid,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864952,LocationID,25,text,NaN,36246819.0,220.0
33,"{'largest': 'TOB', 'non_null': 519718, 'null':...",text,NaN,topicid,NaN,{},360864953,TopicID,26,text,NaN,36246816.0,184.0
34,"{'largest': 'TOB9_0', 'non_null': 519718, 'nul...",text,Question Identifier\n,questionid,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864954,QuestionID,27,text,NaN,36246817.0,220.0
35,"{'largest': 'YESNO', 'non_null': 519718, 'null...",text,Identifier for the Data Value Type\n,datavaluetypeid,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864955,DataValueTypeID,28,text,NaN,36246801.0,280.0
36,"{'largest': 'RACE', 'non_null': 519718, 'null'...",text,Identifier for stratification category 1\n,stratificationcategoryid1,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864956,StratificationCategoryID1,29,text,NaN,36246820.0,400.0
37,"{'largest': 'WHT', 'non_null': 519718, 'null':...",text,Identifier for stratification 1\n,stratificationid1,NaN,"{'displayStyle': 'plain', 'align': 'left'}",360864957,StratificationID1,30,text,NaN,36246821.0,304.0
38,"{'largest': ' ', 'non_null': 79189, 'null': 44...",text,NaN,stratificationcategoryid2,NaN,{},360864958,StratificationCategoryID2,31,text,NaN,36246822.0,400.0
39,"{'largest': ' ', 'non_null': 79189, 'null': 44...",text,NaN,stratificationid2,NaN,{},360864959,StratificationID2,32,text,NaN,36246823.0,304.0
40,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratificationcategoryid3,NaN,{},360864960,StratificationCategoryID3,33,text,NaN,36246824.0,400.0
41,"{'largest': ' ', 'non_null': 79188, 'null': 44...",text,NaN,stratificationid3,NaN,{},360864961,StratificationID3,34,text,NaN,36246825.0,304.0

## Level-Up
## Create a bar graph of states with the highest asthma rates for adults age 18+

## Level-Up!
## Create a function (or class) that returns an outline of the schema structure like this: 
<img src="images/outline.jpg" width="350">

Rules:
* Your outline should follow the numbering outline above (I, A, 1, a, i).
* Your outline should be properly indented! (Four spaces or one tab per indentation level.)
* Your function goes to at least a depth of 5 (Level-up: create a parameter so that the user can specify this)
* If an entry is a dictionary, list its keys as the subheadings
* After listing a key name (where applicable) include a space, a dash and the data type of the entry
* If an entry is a dict or list put in parentheses how many items are in the entry
* lists will not have key names for their entries (they're just indexed)
* For subheadings of a list, state their datatypes. 
* If a dictionary or list is more then 5 items long, only show the first 5 (we want to limit our previews); make an arbitrary order choice for dictionaries. (Level-up: Parallel to above; allow user to specify number of items to preview for large subheading collections.)

In [ ]:
# Your code here; you will probably want to define subfunctions.
def print_obj_outline(json_obj):
    return outline

In [23]:
outline = print_obj_outline(data)

In [25]:
print(outline) #Your function should produce the following output for this json object (and work for all json files!)

I. root - <class 'dict'> (2 items)
    A. meta <class 'dict'> (1 items)
        1. view <class 'dict'> (40 items)
            a. id <class 'str'>
            b. name <class 'str'>
            c. attribution <class 'str'>
            d. attributionLink <class 'str'>
            e. averageRating <class 'int'>
    B. data <class 'list'> (60266 items)
        1. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        2. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        3. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        4. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        5. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>

## Summary

Well done! In this lab you got some extended practice exploring the structure of JSON files and writing a recursive generalized function for outlining a JSON file's schema!